In [ ]:
import pickle
import csv

with open("unigram_counts.pkl", "rb") as f:
    unigram_counts = pickle.load(f)

V = len(unigram_counts)
total_unigrams = sum(unigram_counts.values())

with open("unigram_probabilities.csv", "w", newline="", encoding="utf-8") as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["Word", "Count", "Add-One", "Add-K", "Token-Type"])  
    for word, count in unigram_counts.items():
        add_one = (count + 1) / (total_unigrams + V)
        k = 0.5
        add_k = (count + k) / (total_unigrams + k * V)
        add_token_type = (count + V) / (total_unigrams + V * V)
        
        writer.writerow([word, count, add_one, add_k, add_token_type])

print("Unigram probabilities saved  to unigram_probabilities.csv")

Unigram probabilities saved  to unigram_probabilities.csv

In [6]:
del unigram_counts

In [ ]:
import pandas as pd
df_prob=pd.read_csv("unigram_probabilities.csv")

In [4]:
df_prob.head()

    Word    Count   Add-One     Add-K    Token-Type
0  इनेलो      971  0.000005  0.000005  7.989484e-07
1   1987     1127  0.000006  0.000006  7.990478e-07
2    में  5487609  0.027267  0.027352  4.296193e-06
3     उस   100409  0.000499  0.000500  8.623313e-07
4   वक्त    35995  0.000179  0.000179  8.212731e-07

In [5]:
df_prob.shape

(1252456, 5)

In [7]:
import pickle
import csv


with open("bigram_counts.pkl", "rb") as f:
    bigram_counts = pickle.load(f)

with open("unigram_counts.pkl", "rb") as f:
    unigram_counts = pickle.load(f)

V = len(unigram_counts) 
k = 0.5  
with open("bigram_probabilities.csv", "w", newline="", encoding="utf-8") as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["Bigram", "Count", "Add-One", "Add-K", "Token-Type"])  # Header

    for bigram, count in bigram_counts.items():
        w1, w2 = bigram.split()  
        w1_count = unigram_counts.get(w1, 0)  

        add_one = (count + 1) / (w1_count + V)

        add_k = (count + k) / (w1_count + k * V)

      
        add_token_type = (count + V) / (w1_count + V * V)

        writer.writerow([bigram, count, add_one, add_k, add_token_type])

print("Bigram probabilities saved to bigram_probabilities.csv")

Bigram probabilities saved to bigram_probabilities.csv

In [8]:
df_prob_big=pd.read_csv("bigram_probabilities.csv")
df_prob_big.head()

        Bigram  Count   Add-One     Add-K    Token-Type
0  <sos> इनेलो    224  0.000180  0.000358  7.985740e-07
1   इनेलो 1987      1  0.000002  0.000002  7.984319e-07
2     1987 में    550  0.000440  0.000877  7.987819e-07
3       में उस   2830  0.000420  0.000463  8.002325e-07
4      उस वक्त   7558  0.005587  0.010402  8.032494e-07

In [ ]:
import pickle
import csv


with open("bigram_counts.pkl", "rb") as f:
    bigram_counts = pickle.load(f)

with open("unigram_counts.pkl", "rb") as f:
    unigram_counts = pickle.load(f)

V = len(unigram_counts) 
k = 0.5  
with open("bigram_probabilities.csv", "w", newline="", encoding="utf-8") as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["Bigram", "Count", "Add-One", "Add-K", "Token-Type"])  # Header

    for bigram, count in bigram_counts.items():
        w1, w2 = bigram.split()  
        w1_count = unigram_counts.get(w1, 0)  

        add_one = (count + 1) / (w1_count + V)

        add_k = (count + k) / (w1_count + k * V)

      
        add_token_type = (count + V) / (w1_count + V * V)

        writer.writerow([bigram, count, add_one, add_k, add_token_type])

print("Bigram probabilities saved to bigram_probabilities.csv")

In [10]:
import pickle
import csv

with open("trigram_counts.pkl", "rb") as f:
    trigram_counts = pickle.load(f)

with open("bigram_counts.pkl", "rb") as f:
    bigram_counts = pickle.load(f)

V = len(bigram_counts)  
k = 0.5  

with open("trigram_probabilities.csv", "w", newline="", encoding="utf-8") as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["Trigram", "Count", "Add-One", "Add-K", "Token-Type"])  # Header

    for trigram, count in trigram_counts.items():
        w1, w2, w3 = trigram.split()  
        bigram_key = f"{w1} {w2}"
        bigram_count = bigram_counts.get(bigram_key, 0)

        
        add_one = (count + 1) / (bigram_count + V)

        
        add_k = (count + k) / (bigram_count + k * V)

       
        add_token_type = (count + V) / (bigram_count + V * V)

        writer.writerow([trigram, count, add_one, add_k, add_token_type])

print("Trigram probabilities saved to trigram_probabilities.csv")

Trigram probabilities saved to trigram_probabilities.csv

In [ ]:
import pickle
import csv


with open("quadgram_counts.pkl", "rb") as f:
    quadgram_counts = pickle.load(f)

with open("trigram_counts.pkl", "rb") as f:
    trigram_counts = pickle.load(f)


V = len(trigram_counts)  
k = 0.5 

with open("quadgram_probabilities.csv", "w", newline="", encoding="utf-8") as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["Quadgram", "Count", "Add-One", "Add-K", "Token-Type"])  # Header

    for quadgram, count in quadgram_counts.items():
        w1, w2, w3, w4 = quadgram.split()
        trigram_key = f"{w1} {w2} {w3}"
        trigram_count = trigram_counts.get(trigram_key, 0)

        
        add_one = (count + 1) / (trigram_count + V)

        
        add_k = (count + k) / (trigram_count + k * V)

        
        add_token_type = (count + V) / (trigram_count + V * V)

        writer.writerow([quadgram, count, add_one, add_k, add_token_type])

print("Quadgram probabilities saved to quadgram_probabilities.csv")

Quadgram probabilities saved to quadgram_probabilities.csv

In [1]:
import pandas as pd

In [2]:
df_prob_uni=pd.read_csv("unigram1000senProb.csv")
df_prob_bi=pd.read_csv("bigram1000senProb.csv")
df_prob_tri=pd.read_csv("trigram1000senProb.csv")
df_prob_quad=pd.read_csv("quadgram1000senProb.csv")

In [3]:
df_prob_uni.head()

,Sentence,Add-One,Add-K,Token-Type
0,उसे तत्काल ट्रेन के शौचालय में बंद कर ...,9.400667e-71,1.007157e-70,2.660026e-136
1,ऐसे ही एक कार्यक्रम का एक वीडियो सोशल ...,6.091513e-38,6.362870e-38,2.168721e-82
2,आरबीजीडी की टीम ने टास जीत कर पहले खेल...,6.903272e-70,6.105506e-70,7.225952e-119
3,इससे आम आदमी की गाढ़ी कमाई को फर्जी और ...,1.216693e-61,1.269652e-61,9.723639e-112
4,विधि शिक्षा एवं विधि सहायता केन्द्र सेंट...,1.391549e-131,1.556501e-131,1.159317e-220

In [4]:
df_prob_bi.head()

,Sentence,Add-One,Add-K,Token-Type
0,उसे तत्काल ट्रेन के शौचालय में बंद कर ...,5.108519e-73,3.743680e-68,4.756580e-146
1,ऐसे ही एक कार्यक्रम का एक वीडियो सोशल ...,5.896634e-30,4.154974e-27,8.973592e-91
2,आरबीजीडी की टीम ने टास जीत कर पहले खेल...,2.469219e-71,5.484179e-67,6.861254e-128
3,इससे आम आदमी की गाढ़ी कमाई को फर्जी और ...,1.530544e-61,7.968936e-58,3.853505e-121
4,विधि शिक्षा एवं विधि सहायता केन्द्र सेंट...,4.295161e-137,8.160860e-129,4.408617e-231

In [5]:
df_prob_tri.head()

,Sentence,Add-One,Add-K,Token-Type
0,उसे तत्काल ट्रेन के शौचालय में बंद कर ...,1.000000e-288,1.000000e-288,1.000000e-288
1,ऐसे ही एक कार्यक्रम का एक वीडियो सोशल ...,1.000000e-180,1.000000e-180,1.000000e-180
2,आरबीजीडी की टीम ने टास जीत कर पहले खेल...,1.000000e-252,1.000000e-252,1.000000e-252
3,इससे आम आदमी की गाढ़ी कमाई को फर्जी और ...,1.000000e-240,1.000000e-240,1.000000e-240
4,विधि शिक्षा एवं विधि सहायता केन्द्र सेंट...,0.000000e+00,0.000000e+00,0.000000e+00

In [6]:
df_prob_quad.head()

,Sentence,Quad-Add-One,Quad-Add-K,p_quad_token_type
0,उसे तत्काल ट्रेन के शौचालय में बंद कर ...,8.387939e-160,3.369631e-154,2.294140e-187
1,ऐसे ही एक कार्यक्रम का एक वीडियो सोशल ...,7.309070e-84,1.104585e-79,2.243516e-117
2,आरबीजीडी की टीम ने टास जीत कर पहले खेल...,3.055775e-142,6.488954e-137,4.902851e-164
3,इससे आम आदमी की गाढ़ी कमाई को फर्जी और ...,8.099319e-131,2.442193e-126,2.947975e-156
4,विधि शिक्षा एवं विधि सहायता केन्द्र सेंट...,4.390222e-253,1.739057e-244,3.077245e-296